[submodule "gsplat/cuda/csrc/third_party/glm"]
	path = gsplat/cuda/csrc/third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/RoMa"]
	path = third_party/RoMa
	url = git@github.com:Parskatt/RoMa.git
